<div class="fon-modal">
  <div class="modal">
    <span class="modal__title">{{title}}</span>

    {{#if isUpdateAvatar}}
       {{{AvatarInput}}}
    {{else}}
      {{{InputLogin}}}
    {{/if}}

    {{{Button}}}
  </div>
</div>
