<form class="form">

  {{{InputEmail}}}
  {{{InputLogin}}}
  {{{InputFirstName}}}
  {{{InputSecondName}}}
  {{{InputPhone}}}
  {{{InputPassword}}}
  {{{InputPasswordTwo}}}

  <div class="form__action">
    {{{ButtonSighIn}}}
    {{{ButtonNotAccount}}}
  </div>
</form>
