<li class="message message_{{way}}">
  <div class="message__content message__content_{{way}}">
    {{content}}

    <span class="message__content__time message__content__time_{{way}}">{{time}}</span>
  </div>
</li>
