  <div class="setting__content__about">
    {{{Avatar}}}
    <span class="setting-name">{{name}}</span>
  </div>

  {{#unless isPassword}}
  <div class="setting__content__info">
    {{{SettingEmail}}}
    {{{SettingLogin}}}
    {{{SettingFirstName}}}
    {{{SettingSecondName}}}
    {{{SettingDisplayName}}}
    {{{SettingPhone}}}
  </div>
  {{/unless}}

  {{#if isPassword}}
    <div class="setting__content__info">
      {{{SettingOldPassword}}}
      {{{SettingNewPassword}}}
      {{{SettingNewReplayPassword}}}
    </div>
  {{/if}}

  {{#if isChange}}
    <div class="setting__content__actions">
      {{{ButtonSave}}}
    </div>
  {{/if}}

  {{#if isDefault}}
    <div class="setting__content__actions">
      {{{ButtonChange}}}
      {{{ButtonChangePassword}}}
      {{{ButtonExit}}}
    </div>
  {{/if}}

  {{#if errorForm}}
    <span class="setting__content__error">
    Неверно заполнена форма
  </span>
  {{/if}}

  {{#if openModal}}
    {{{Modal}}}
  {{/if}}
