  <div class="setting__block-back">
    {{{ButtonBack}}}
  </div>

  <form class="setting__content">
    <div class="setting__content__about">
      {{{Avatar}}}
      <span class="setting-name">{{name}}</span>
    </div>

    <div class="setting__content__info">
      {{{SettingEmail}}}
      {{{SettingLogin}}}
      {{{SettingFirstName}}}
      {{{SettingSecondName}}}
      {{{SettingDisplayName}}}
      {{{SettingPhone}}}
    </div>

    <div class="setting__content__actions">
      {{{ButtonSave}}}
    </div>
  </form>
