  <div class="feed__header">
    {{{Avatar}}}
    <span class="feed__header__name">{{name}}</span>
<!--    <button class="feed__header__btn">-->
<!--    </button>-->
    {{{Button}}}
  </div>

  <ul class="feed__content">
    {{#each feedList}}
      {{{ this }}}
    {{/each}}
  </ul>

  {{{Form}}}

  {{#if openModal}}
    {{{Modal}}}
  {{/if}}

{{#if openToolTip}}
    {{{ToolTip}}}
  {{/if}}
