  <div class="feed__header">
    {{#if choiceChat}}
      {{{Avatar}}}
      <span class="feed__header__name">{{name}}</span>
    {{/if}}
<!--    <button class="feed__header__btn">-->
<!--    </button>-->
    {{{Button}}}
  </div>

  <ul class="feed__content">
    {{#each feedList}}
      {{{ this }}}
    {{/each}}
  </ul>

  {{#if choiceChat}}
    {{{Form}}}
  {{/if}}

  {{#if openModal}}
    {{{Modal}}}
  {{/if}}

{{#if openToolTip}}
    {{{ToolTip}}}
  {{/if}}
